$fontsPath: '../fonts/';

@font-face {
	font-family: 'Gotham Pro';
	src: url($fontsPath + 'GothamPro-Italic.eot');
	src: local('Gotham Pro Italic'), local('GothamPro-Italic'),
		url($fontsPath + 'GothamPro-Italic.eot?#iefix') format('embedded-opentype'),
		url($fontsPath + 'GothamPro-Italic.woff') format('woff'),
		url($fontsPath + 'GothamPro-Italic.ttf') format('truetype');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'Gotham Pro';
	src: url($fontsPath + 'GothamPro-Medium.eot');
	src: local('Gotham Pro Medium'), local('GothamPro-Medium'),
		url($fontsPath + 'GothamPro-Medium.eot?#iefix') format('embedded-opentype'),
		url($fontsPath + 'GothamPro-Medium.woff') format('woff'),
		url($fontsPath + 'GothamPro-Medium.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}


@font-face {
	font-family: 'Gotham Pro';
	src: url($fontsPath + 'GothamPro-Bold.eot');
	src: local('Gotham Pro Bold'), local('GothamPro-Bold'),
		url($fontsPath + 'GothamPro-Bold.eot?#iefix') format('embedded-opentype'),
		url($fontsPath + 'GothamPro-Bold.woff') format('woff'),
		url($fontsPath + 'GothamPro-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Gotham Pro';
	src: url($fontsPath + 'GothamPro-Light.eot');
	src: local('Gotham Pro Light'), local('GothamPro-Light'),
		url($fontsPath + 'GothamPro-Light.eot?#iefix') format('embedded-opentype'),
		url($fontsPath + 'GothamPro-Light.woff') format('woff'),
		url($fontsPath + 'GothamPro-Light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Gotham Pro';
	src: url($fontsPath + 'GothamPro.eot');
	src: local('Gotham Pro'), local('GothamPro'),
		url($fontsPath + 'GothamPro.eot?#iefix') format('embedded-opentype'),
		url($fontsPath + 'GothamPro.woff') format('woff'),
		url($fontsPath + 'GothamPro.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url($fontsPath + 'Roboto-Bold.eot');
    src: local('Roboto Bold'), local('Roboto-Bold'),
        url($fontsPath + 'Roboto-Bold.eot?#iefix') format('embedded-opentype'),
        url($fontsPath + 'Roboto-Bold.woff') format('woff'),
        url($fontsPath + 'Roboto-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url($fontsPath + 'Roboto-Regular.eot');
    src: local('Roboto'), local('Roboto-Regular'),
        url($fontsPath + 'Roboto-Regular.eot?#iefix') format('embedded-opentype'),
        url($fontsPath + 'Roboto-Regular.woff') format('woff'),
        url($fontsPath + 'Roboto-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url($fontsPath + 'Roboto-Light.eot');
    src: local('Roboto Light'), local('Roboto-Light'),
        url($fontsPath + 'Roboto-Light.eot?#iefix') format('embedded-opentype'),
        url($fontsPath + 'Roboto-Light.woff') format('woff'),
        url($fontsPath + 'Roboto-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}


/* This stylesheet generated by Transfonter (https://transfonter.org) on August 21, 2017 1:40 PM */

@font-face {
	font-family: 'HelveticaNeueCyr';
	src: url($fontsPath + 'HelveticaNeueCyr-Roman.eot');
	src: local('HelveticaNeueCyr-Roman'),
		url($fontsPath + 'HelveticaNeueCyr-Roman.eot?#iefix') format('embedded-opentype'),
		url($fontsPath + 'HelveticaNeueCyr-Roman.woff') format('woff'),
		url($fontsPath + 'HelveticaNeueCyr-Roman.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'HelveticaNeueCyr';
	src: url($fontsPath + 'HelveticaNeueCyr-Bold.eot');
	src: local('HelveticaNeueCyr-Bold'),
		url($fontsPath + 'HelveticaNeueCyr-Bold.eot?#iefix') format('embedded-opentype'),
		url($fontsPath + 'HelveticaNeueCyr-Bold.woff') format('woff'),
		url($fontsPath + 'HelveticaNeueCyr-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}
