$orange: #ffc107;
*{
	box-sizing: border-box;
}
.button{
	display: inline-flex;
	justify-content: center;
	align-items: center;
	background-color: $orange;
	font-family: 'Gotham Pro';
	font-size: 24px;
	padding: 14px 19px;
	border: 3px solid transparent;
	cursor: pointer;
	transition: .3s;
	outline: 0;
	color: #212121;
	text-decoration: none;
	@include respond-to(xsp){
		font-size: 18px;
	}
	&:hover{
		border-color: $orange;
		background-color: transparent;
		color: $orange;
		transition: .3s;
	}
	&--black{
		background-color: #212121;
	  border: solid 3px transparent;
	  color: $orange;
	  &:hover{
	  	color: #212121;
	  	background-color: transparent;
	  	border-color: #212121;
	  }
	}
}
.input-text{
	padding: 14px 19px;
	line-height: 1.25;
	font-family: 'Gotham Pro';
	font-size: 24px;
	padding: 14px 19px;
	outline: 0;
	border: none;
	&::-webkit-input-placeholder {color: #d8d8d8;}
	&::-moz-placeholder          {color: #d8d8d8;}/* Firefox 19+ */
	&:-moz-placeholder           {color: #d8d8d8;}/* Firefox 18- */
	&:-ms-input-placeholder      {color: #d8d8d8;}
	@include respond-to(xsp){
		font-size: 18px;
	}
}
.order-call{
	font-size: 18px;
	font-weight: 500;
	color: $orange;
	transition: .3s;
	cursor: pointer;
	outline: 0;
	&:hover{
		color: #fff;
		transition: .3s;
	}
}
/* SVG */
.svg-arrow{
	width: 25px;
	height: 30px;
	fill: $orange;
}
.svg-arrow-2{
	width: 20px;
	height: 30px;
}

.tab-content{
	&.hidden{
		display: none;
	}
}