.contact-section{
	padding-top: 100px;
	padding-bottom: 120px;
	background-image: url('../img/main.jpg');
	background-size: cover;
	background-position: center;
	@include respond-to(xsp){
		padding-top: 40px;
		padding-bottom: 55px;
	}
}
.contact-section-title{
	font-family: 'Gotham Pro';
  font-size: 32px;
  font-weight: bold;
  max-width: 960px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  color: #fff;
  @include respond-to(xsp){
  	font-size: 28px;
  }
}
.contact-wrap{
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	margin-top: 80px;
	@include respond-to(sm){
		margin-top: 40px;
		flex-direction: column;
		align-items: center;
	}
}
.contact-col{
	text-align: center;
	@include respond-to(sm){
		margin-top: 25px;
	}
	&:first-child{
		@include respond-to(sm){margin-top: 0;}
	}
	&__title{
		font-family: 'Gotham Pro';
	  font-size: 24px;
	  font-weight: bold;
	  color: $orange;
	  display: block;
	}
	&__info{
		display: block;
		color: #fff;
		text-decoration: none;
		font-family: 'Gotham Pro';
		font-size: 18px;
		line-height: 1.11;
		outline: 0;
	}
	&__button{
		padding: 10px 20px;
		height: 40px;
		margin-top: 20px;
		font-size: 16px;
	}
	a{
		transition: .3s;
		&:hover{
			color: $orange;
			transition: .3s;
		}
	}
}