.economy-section{
	padding-top: 100px;
	padding-bottom: 135px;
	@include respond-to(xsp){
		padding-top: 45px;
		padding-bottom: 65px;
	}
}
.economy-section-title{
	font-family: 'HelveticaNeueCyr';
	font-size: 32px;
	text-align: center;
	max-width: 800px;
	margin: 0 auto;
	@include respond-to(xsp){
		font-size: 28px;
	}
}
.economy-section-subtitle{
	font-family: 'HelveticaNeueCyr';
	font-size: 24px;
	text-align: center;
	max-width: 500px;
	margin: 0 auto;
	display: block;
	margin-top: 40px;
}
.economy-slider-wrap{
	padding: 20px;
	box-shadow: 0 1px 10px 0 rgba(33, 33, 33, 0.2), 0 4px 5px 0 rgba(33, 33, 33, 0.12), 0 2px 4px 0 rgba(33, 33, 33, 0.14);
	border-radius: 3px;
	background-color: #fff;
	margin-top: 65px;
	position: relative;
	@include respond-to(xsp){
		margin-top: 20px;
	}
	.owl-dots{
		display: flex;
		align-items: center;
		justify-content: center;
		margin-top: 15px;
		.owl-dot{
			width: 20px;
			height: 20px;
			border-radius: 50%;
			background-color: transparent!important;
			border: 2px solid #000!important;
			margin: 0 8px;
			outline: 0;
			transition: .3s;
			&.active{
				background-color: $orange!important;
				border: 2px solid $orange!important;
				transition: .3s;
			}
		}
	}
}
.economy-slide{
	display: flex;
	align-items: center;
	@include respond-to(sm){
		flex-wrap: wrap;
	}
}
.economy-slide-desc{
	margin-left: 55px;
	@include respond-to(sm){
		width: 100%;
		margin-left: 0;
		margin-top: 20px;
		padding-left: 15px;
	}
	&__title{
		font-family: 'HelveticaNeueCyr';
		color: $orange;
		font-size: 24px;
		margin-bottom: 20px;
		display: block;
	}
}
.economy-slide-desc-list{
	padding-left: 25px;
	&__item{
		margin-top: 10px;
		&:first-child{margin-top: 0;}
		color: #000;
		font-size: 16px;
		font-family: 'Roboto';
		position: relative;
		&:before{
			content: '';
			width: 4px;
			height: 4px;
			display: block;
			border-radius: 50%;
			background-color: #000;
			position: absolute;
			left: -20px;
			top: 50%;
			transform: translateY(-50%);
		}
	}
}
.economy-slide-link{
	margin-top: 20px;
	@include respond-to(xs){
		width: 100%;
		font-size: 18px;
	}
}
.economy-slider-nav{
	position: absolute;
	top: 50%;
	width: 60px;
	height: 60px;
	background-color: #fff;
	box-shadow: 0 1px 10px 0 rgba(33, 33, 33, 0.2), 0 4px 5px 0 rgba(33, 33, 33, 0.12), 0 2px 4px 0 rgba(33, 33, 33, 0.14);
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	transition: .3s;
	z-index: 2;
	@include respond-to(md){
		display: none;
	}
	&:hover{
		box-shadow: 0 1px 10px 0 rgba(255, 193, 7, 0.2), 0 4px 5px 0 rgba(255, 193, 7, 0.12), 0 2px 4px 0 rgba(255, 193, 7, 0.14);
		transition: .3s;
	}
	&--prev{
		transform: translateY(-50%) rotate(90deg);
		left: -30px;
		@include respond-to(md){
			left: 5px;
		}
	}
	&--next{
		transform: translateY(-50%) rotate(-90deg);
		right: -30px;
		@include respond-to(md){
			right: 5px;
		}
	}
}
.economy-slide-img{
	width: 410px!important;
	height: 410px;
	object-fit: cover;
	@include respond-to(sm){
		max-width: 100%;
		width: 100%!important;
		height: 290px;
		display: block;
	}
}