.footer{
	padding: 35px 0;
	background-color: #212121;
}
.footer-wrap{
	display: flex;
	align-items: center;
	justify-content: space-between;
	@include respond-to(xsp){
		flex-direction: column;
	}
}
.footer-text{
	font-family: 'Gotham Pro';
  font-size: 18px;
  font-weight: 500;
  line-height: 1.11;
  color: #8d8d8d;
  text-decoration: none;
  outline: 0;
  @include respond-to(xs){
		font-size: 16px;
  }
}
.footer-right{
	@include respond-to(xsp){
		display: flex;
		flex-direction: column;
		text-align: center;
		order: -1;
		margin-bottom: 15px;
	}
	.footer-text{
		margin-right: 20px;
		@include respond-to(xsp){
			margin-right: 0;
		}
		&:last-child{margin-right: 0;}
	}
}