.form-section{
	padding: 100px 0;
	background-image: url('../img/bitmap.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	@include respond-to(xsp){
		padding: 40px 0;
	}
}
.form-section-title{
	font-family: 'Gotham Pro';
	font-size: 32px;
	max-width: 960px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	color: $orange;
	@include respond-to(xsp){
		font-size: 24px;
	}
}
.form{
	max-width: 580px;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 40px;
	background-color: #fff;
	padding: 35px 40px 40px 40px;
	@include respond-to(xsp){
		padding-left: 10px;
		padding-right: 10px;
	}
	&--modal{
		margin-top: 0;
		padding: 0;
	}
	&__title{
		margin-bottom: 40px;
		font-family: 'Gotham Pro';
		font-size: 24px;
		font-weight: normal;
		@include respond-to(xsp){
			text-align: center;
			margin-bottom: 20px;
			font-size: 20px;
		}
	}
	&__title-high{
		color: $orange;
		font-weight: 500;
	}
	&__input{
		margin-top: 20px;
		width: 100%;
		&:first-of-type{margin-top: 0;}
		border-radius: 4px;
	  background-color: #ffffff;
	  border: solid 2px #d8d8d8;
	}
	&__button{
		width: 100%;
		margin-top: 40px;
		@include respond-to(xsp){
			margin-top: 20px;
		}
	}
	&__desc{
		margin-top: 10px;
		font-family: 'Gotham Pro';
	  font-size: 13px;
		line-height: 1.15;
		text-align: right;
	}
}