.header{
	padding-top: 50px;
	font-family: 'Gotham Pro';
}
.header-wrap{
	display: flex;
	align-items: center;
	justify-content: space-between;
	@include respond-to(sm){
		flex-wrap: wrap;
	}
}
.header-burger-wrap{
	width: 60px;
	height: 60px;
	display: flex;
	align-items: center;
	justify-content: center;
	@include respond-to(sm){
		margin: 0 auto;
	}
}
.header-burger{
	width: 40px;
	cursor: pointer;
	&__item{
		margin-top: 5px;
		&:first-child{margin-top: 0;}
		background-color: #fff;
		border-radius: 4px;
		width: 100%;
		height: 4px;
		display: block;
	}
}
.header-logo{
	text-align: center;
	margin-left: 80px;
	@include respond-to(sm){
		width: 100%;
		margin-left: 0;
	}
	@include respond-to(xsp){
		
	}
	&__title{
		font-size: 32px;
		font-weight: bold;
		color: #fff;
		text-align: center;
		@include respond-to(xs){
			font-size: 28px;
		}
	}
	&__subtitle{
		font-size: 16px;
		font-weight: 500;
		color: $orange;
		text-align: center;
	}
}
.header-contact{
	display: flex;
	flex-direction: column;
	@include respond-to(sm){
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
		max-width: 600px;
		width: 100%;
		margin-left: auto;
		margin-right: auto;
		margin-top: 25px;
	}
	@include respond-to(xsp){
		flex-direction: column;
		line-height: 1.5;
	}
	&__item{
		text-decoration: none;
		text-align: right;
		&:first-child{margin-top: 0;}
	}
	&__email{
	  font-size: 18px;
	  line-height: 1.11;
	  color: #fff;
	  transition: .3s;
	  @include respond-to(xsp){
	  	line-height: inherit;
	  }
	  &:hover{
	  	color: $orange;
	  	transition: .3s;
	  }
	}
	&__tel{
		font-weight: bold;
		font-size: 24px;
		line-height: 1.25;
		color: #fafafa;
		transition: .3s;
		@include respond-to(xsp){
			line-height: inherit;
		}
		&:hover{
			color: $orange;
			transition: .3s;
		}
	}
	&__call{
		font-size: 18px;
		font-weight: 500;
		color: $orange;
		@include respond-to(xsp){
			line-height: inherit;
		}
	}
}