.main-section{
	background-image: url('../img/main.jpg');
	background-size: cover;
	background-position: center;
	position: relative;
	height: 100vh;
	@include respond-to(md){
		height: auto;
		padding-bottom: 150px;
	}
	@include respond-to(xsp){
		padding-bottom: 50px;
	}
}
.main-desc{
	max-width: 860px;
	width: 100%;
	margin-right: auto;
	margin-top: 15vh;
	@include respond-to(xs){
		margin-top: 5vh;
	}
}
.main-title{
	font-family: 'Gotham Pro';
  font-size: 48px;
  font-weight: bold;
  margin-bottom: 40px;
  color: #fff;
  @include respond-to(xsp){
  	font-size: 36px;
  }
  @include respond-to(xs){
  	font-size: 22px;
  }
}
.main-form{
	&__desc{
		margin-bottom: 40px;
		p{
			font-family: 'Gotham Pro';
			color: #fff;
			font-size: 24px;
			@include respond-to(xsp){
				font-size: 18px;
			}
		}
	}
	&__input-wrap{
		display: flex;
	}
	&__button{
		margin-left: 40px;
	}
}
.scroll-trigger{
	width: 60px;
	height: 60px;
	background-color: #fff;
	box-shadow: 0 1px 10px 0 rgba(33, 33, 33, 0.2), 0 4px 5px 0 rgba(33, 33, 33, 0.12), 0 2px 4px 0 rgba(33, 33, 33, 0.14);
	border-radius: 30px;
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	left: 50%;
	bottom: 30px;
	transform: translateX(-50%);
	cursor: pointer;
	svg{
		transition: .5s;
	}
	&:hover{
		svg{
			transform: translateY(7px);
			transition: .5s;
		}
	}
	@include respond-to(sm){
		display: none;
	}
}
@media (min-height: 901px) {
	.main-section{
		height: auto;
		padding-bottom: 125px;
	}
}
@media (max-width: 640px) {
	.main-title{
		text-align: center;
	}
	.main-form__desc{
		text-align: center;
	}
}
@media (max-width: 670px){
	.main-form__input-wrap{
		display: block;
	}
	.main-form__button{
		margin-left: 0;
	}
	.main-form__button{
		width: 100%;
		margin-top: 10px;
		font-size: 20px;
	}
	.main-form__input{
		width: 100%;
		font-size: 20px;
		text-align: center;
	}
}