.nav{
	position: fixed;
	height: 100%;
	max-width: 540px;
	width: 100%;
	background-color: #212121;
	top: 0;
	z-index: 5;
	color: #fff;
	padding: 75px 140px;
	transform: translateX(-100%);
	transition: .4s;
	@include respond-to(xsp){
		max-width: 220px;
		padding: 50px 15px;
	}
	&.open{
		transform: translateX(0%);
		transition: .4s;
	}
}
.menu{
	&__item{
		color: $orange;
		font-family: 'Gotham Pro';
		font-size: 18px;
		margin-top: 15px;
		cursor: pointer;
		&:first-child{margin-top: 0;}
		transition: .3s;
		&:hover{
			color: #fff;
			transition: .3s;
		}
	}
}
.overlay{
	z-index: 4;
	position: fixed;
	width: 100%;
	height: 100%;
	filter: blur(4px);
  background-color: rgba(33, 33, 33, 0.6);
  display: none;
  cursor: pointer;
  &.active{
  	display: block;
  }
}
.hamburger-close{
	position: relative;
	width: 40px;
	height: 40px;
	margin-bottom: 60px;
	cursor: pointer;
	&__item{
		background-color: #fafafa;
		height: 40px;
		width: 6px;
		position: absolute;
		right: 50%;
		&:first-child{
			transform: rotate(45deg);
		}
		&:last-child{
			transform: rotate(-45deg);
		}
	}
}