.our-object-section{
	background-color: #fff;
	padding-top: 100px;
	padding-bottom: 120px;
	@include respond-to(xsp){
		padding-top: 40px;
		padding-bottom: 60px;
	}
}
.our-object-title{
	max-width: 760px;
	width: 100%;
	margin: 0 auto;
	font-size: 32px;
	font-weight: bold;
	font-family: 'Gotham Pro';
	text-align: center;
	@include respond-to(xsp){
		font-size: 28px;
	}
}
.our-object-wrap{
	margin-top: 80px;
	max-width: 970px;
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	margin-left: auto;
	margin-right: auto;
	@include respond-to(sm){
		flex-direction: column;
	}
}
.our-object-menu{
	max-width: 360px;
	width: 100%;
	display: block;
	@include respond-to(sm){
		max-width: 100%;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}
	@include respond-to(xsp){
		display: none;
		max-width: 480px;
		margin: 0 auto;
	}
	&__item{
		height: 60px;
		background-color: #fff;
		box-shadow: 0 1px 10px 0 rgba(33, 33, 33, 0.2), 0 4px 5px 0 rgba(33, 33, 33, 0.12), 0 2px 4px 0 rgba(33, 33, 33, 0.14);
		padding: 20px;
		margin-top: 20px;
		display: flex;
		align-items: center;
		justify-content: space-between;
		font-family: 'Gotham Pro';
	  font-size: 18px;
	  color: #8d8d8d;
	  line-height: 1.11;
	  transition: .3s;
	  cursor: pointer;
	  @include respond-to(sm){
	  	flex: 0 1 calc(50% - 15px);
			height: 100px;
			display: flex;
			flex-direction: column;
	  }
	  @include respond-to(xsp){
	  	height: auto;
	  	min-height: 60px;
	  	padding-top: 10px;
	  	padding-bottom: 10px;
	  	margin-top: 5px;
	  }
	  &:first-child{
	  	margin-top: 0;
	  	@include respond-to(sm){
	  		margin-top: 20px;
	  	}
	  	@include respond-to(xsp){
	  		margin-top: 0;
	  	}
	  }
	  &.active{
	  	svg{fill:#fff;transition: .3s;}
	  	background-color: $orange;
	  	color: #212121;
	  	transition: .3s;
	  }
	  svg{
	  	@include respond-to(sm){
	  		transform: rotate(90deg);
	  	}
	  	@include respond-to(xsp){
	  		display: none;
	  	}
	  }
	}
	&__icon{
		fill: $orange;
		transition: .3s;
	}
}
.our-object-content{
	max-width: 560px;
	margin-left: 50px;
	@include respond-to(sm){
		margin-left: 0;
		max-width: 100%;
		width: 100%;
		margin-top: 35px;
	}
	&__img{
		width: 560px;
		height: 480px;
		object-fit: cover;
		display: block;
		@include respond-to(sm){
			width: 100%;
			height: auto;
			object-fit: unset;
		}
	}
	&__desc{
		margin-top: 20px;
		font-family: 'Gotham Pro';
		font-size: 18px;
		display: block;
		text-align: center;
	}
}
.object-menu-mobile{
	display: none;
	border: 2px solid $orange;
	justify-content: center;
	align-items: center;
	max-width: 480px;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	padding: 10px 15px;
	min-height: 60px;
	transition: 1s;
	cursor: pointer;
	&__icon{
		fill: $orange;
		transform: rotate(90deg);
		margin-left: 15px;
	}
	@include respond-to(xsp){
		display: flex;
	}
}