.our-number-section{
	padding-top: 80px;
	padding-bottom: 100px;
	background-color: #212121;
	@include respond-to(md){
		padding-top: 60px;
		padding-bottom: 75px;
	}
}
.our-number-title{
	font-size: 32px;
	font-weight: bold;
	font-family: 'Gotham Pro';
	color: $orange;
	text-align: center;
	max-width: 940px;
	margin-left: auto;
	margin-right: auto;
	@include respond-to(xsp){
		font-size: 24px;
	}
}
.our-number-wrap{
	display: flex;
	justify-content: space-between;
	margin-top: 80px;
	@include respond-to(sm){
		flex-direction: column;
		align-items: center;
		margin-top: 35px;
	}
}
.our-number{
	flex: 0 1 350px;
	@include respond-to(sm){
		flex: 0 1 auto;
		max-width: 350px;
		width: 100%;
		margin-left: auto;
		margin-right: auto;
		margin-top: 25px;
		&:first-child{margin-top: 0;}
	}
	&__nubmer{
		display: flex;
		align-items: center;
		justify-content: center;
		border: solid 10px #feb60c;
		border-radius: 50%;
		line-height: 1;
		font-family: 'Gotham Pro';
		font-weight: bold;
		color: $orange;
	  font-size: 60px;
	  width: 160px;
	  height: 160px;
	  margin-left: auto;
	  margin-right: auto;
	}
	&__title{
		margin-top: 10px;
		font-family: 'Gotham Pro';
	  font-size: 32px;
	  font-weight: bold;
	  line-height: 1.25;
	  color: $orange;
	  text-align: center;
	}
	&__text{
		font-family: 'Gotham Pro';
		margin-top: 20px;
		color: #d8d8d8;
		text-align: center;
		line-height: 1.25;
		font-size: 16px;
	}
}