.question-section{
	padding-top: 100px;
	padding-bottom: 75px;
	background-color: $orange;
	@include respond-to(xsp){
		padding-top: 50px;
		padding-bottom: 25px;
	}
}
.question-section-title{
	font-family: 'Gotham Pro';
  font-size: 32px;
  max-width: 800px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  text-align: center;
  line-height: 1.25;
  @include respond-to(xsp){
  	font-size: 28px;
  }
}
.question-section-subtitle{
	max-width: 770px;
	width: 100%;
	font-family: 'Gotham Pro';
  font-size: 24px;
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.question-form{
	display: flex;
	justify-content: space-between;
	max-width: 1060px;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 70px;
	@include respond-to(sm){
		flex-direction: column;
		align-items: center;
		margin-top: 35px;
	}
	&__input{
		max-width: 360px;
		width: 100%;
		@include respond-to(md){
			max-width: 320px
		}
		@include respond-to(sm){
			margin-top: 15px;
			max-width: 360px;
			&:first-child{margin-top: 0;}
		}
	}
	&__button{
		@include respond-to(sm){
			margin-top: 15px;
			max-width: 360px;
			width: 100%;
		}
	}
}
.question-form-desc{
	font-family: 'Gotham Pro';
  font-size: 13px;
  line-height: 1.15;
  margin-top: 10px;
  text-align: right;
  max-width: 1060px;
  margin-left: auto;
  margin-right: auto;
  @include respond-to(sm){
  	text-align: center;
  }
}