.stage-section{
	/* background-image: url('../img/bitmap.jpg'); */
	background-color: #212121;
	background-size: cover;
	background-position: center;
	padding-top: 100px;
	padding-bottom: 150px;
}
.stage-section-title{
	font-family: 'Helvetica';
	max-width: 970px;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
  font-size: 32px;
  color: $orange;
  @include respond-to(xsp){
  	font-size: 28px;
  }
}
.stage-section-subtitle{
	display: block;
	margin-top: 40px;
	font-family: 'Gotham Pro';
	text-align: center;
	max-width: 970px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
  font-size: 24px;
  color: #8d8d8d;
}

.stage-wrap{
	margin-top: 40px;
}

.stage-menu{
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
}
.stage-menu-item{
	max-width: 160px;
	width: 100%;
	text-align: center;
	position: relative;
	&.active{
		.stage-menu-item__number{
			background: $orange;
		}
		.stage-menu-item__progressbar{
			background: $orange;
		}
	}
	&__number{
		width: 60px;
		height: 60px;
		border-radius: 50%;
		background-color: #8d8d8d;
		font-family: 'Gotham Pro';
	  font-size: 32px;
	  font-weight: bold;
	  display: flex;
	  align-items: center;
	  justify-content: center;
	  margin-left: auto;
	  margin-right: auto;
  	cursor: pointer;
  	transition: .3s;
  	&.active{
  		background-color: $orange;
  		transition: .3s;
  	}
	}
	&__title{
		margin-top: 10px;
		font-family: 'Gotham Pro';
	  font-size: 18px;
	  font-weight: 500;
	  line-height: 1.11;
	  color: #8d8d8d;
	}
	&__progressbar{
		width: 60px;
	  height: 8px;
	  border-radius: 4px;
	  background-color: #8d8d8d;
	  position: absolute;
	  top: 35%;
	  transform: translateY(50%);
	  left: -50px;
	  &:before{
  		content: '';
  		display: block;
			position: absolute;
			width: 0;
			height: 100%;
			background-color: $orange;
			border-radius: 4px;
	  }
	  &.active:before{
	  	width: 100%;
	  	transition: 5s linear;
	  }
	}
}
.stage-content{
	margin-top: 60px;
	max-width: 560px;
	margin-left: auto;
	margin-right: auto;
	&:not(:first-of-type){
		display: none;
	}
	&__title{
		font-family: 'Roboto';
	  font-size: 24px;
	  line-height: 1.25;
	  text-align: center;
	  color: #ffc107;
	  display: block;
	}
	&.hidden{
		display: none;
	}
}
.stage-content-list{
	margin-top: 20px;
	font-family: Roboto;
  font-size: 16px;
  line-height: 1.25;
  color: #fafafa;
  list-style: none;
  &__item{
  	padding-left: 30px;
  	position: relative;
  	margin-top: 15px;
  	&:first-child{margin-top: 0;}
  	&:before{
  		content: '';
  		display: block;
  		position: absolute;
  		width: 5px;
  		height: 5px;
  		border-radius: 50%;
  		background-color: #fff;
  		top: 3px;
			left: 5px;
  	}
  }
}