.treatment-section{
	padding: 30px 0;
}
.treatment-title{
	font-family: 'Roboto';
  font-size: 32px;
  max-width: 800px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
  text-align: center;
  line-height: 1.25;
  @include respond-to(xsp){
  	font-size: 28px;
  }
}
.treatment-wrap{
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  max-width: 1030px;
  margin-left: auto;
  margin-right: auto;
  @include respond-to(xsp){
    flex-direction: column;
    align-items: center;
  }
}
.treatment-img{
  width: 260px;
  height: 260px;
  object-fit: cover;
  border-radius: 50%;
}
.treatment-desc{
  margin-left: 50px;
  padding-left: 30px;
  padding-bottom: 15px;
  @include respond-to(xsp){
    margin-left: 0;
    padding-bottom: 0;
    padding-left: 0;
    margin-top: 25px;
  }
  &__text{
    font-family: 'Roboto';
    font-size: 16px;
    color: #212121;
    @include respond-to(md){
      text-align: justify;
    }
    @include respond-to(xs){
      text-align: center;
    }
  }
  &__ps{
    margin-top: 40px;
    font-family: Roboto;
    font-size: 18px;
    text-align: right;
    @include respond-to(xs){
      font-size: 14px;
    }
    p{
      color: #8d8d8d;
    }
    strong{
      color: #000;
    }
  }
}