// Variables
$small: 768px;
$medium: 992px;
$large: 1200px;
$x-large: 1600px;

// Mixin

@mixin respond-to($media) {
  @if $media == xs {
    @media only screen and (max-width: 460px) { @content; }
  }
  @if $media == xsp {
    @media only screen and (max-width: $small - 1) { @content; }
  }
  @else if $media == sm {
    @media only screen and (max-width: $medium - 1) { @content; }
  }
  @else if $media == md {
    @media only screen and (max-width: $large - 1) { @content; }
  }
  @else if $media == lg {
    @media only screen and (max-width: $x-large - 1) { @content; }
  }
  @if $media == xl {
    @media only screen and (min-width: $x-large) { @content; }
  }
}